language: node_js
node_js:
  - "9"
install:
  - npm install
script:
  - npm test
before_deploy:
  - npm run build
  - git add ./dist
  - git commit -m 'travis testing'
  - npm pack
deploy:
  provider: npm
  email: $NPM_EMAIL_ADDRESS
  api_key: $NPM_AUTH_TOKEN
  on:
    branch: master